<!-- views/partials/header.ejs -->

<!--
<nav>
    <a href="/index">
       <!-- <img src="../img/logo.png" alt="logo Lovr">-->
       <!--
    </a>

    <ul>
        <li><a href='/index'> Home </a></li>
        <li><a href='/about'> About </a></li>
        <li><a href='/Contact'> Contact </a></li>
        <li><a href='/Login'> Login </a></li>
    </ul>
</nav>
-->

<nav>
 
    <input type="checkbox" id="check">

    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <img id="logoHeader" src="../img/logo_header.png">

    <ul>
      <li><button onclick="location.href='login'" type="button">Log in</button></li>
      <li><a href="/index" <% if (page_name === 'home') { %>class="activeLink" <% } %>>Home</a></li>
      <li><a href="/over" <% if (page_name === 'over') { %>class="activeLink" <% } %>>Over</a></li>
      <li><a href="/diensten" <% if (page_name === 'diensten') { %>class="activeLink" <% } %>>Diensten</a></li>
      <li><a href="/contact" <% if (page_name === 'contact') { %>class="activeLink" <% } %>>Contact</a></li>
    </ul>
  </nav>

  